<a href="https://colab.research.google.com/github/Jo-chana/CoLab_ML_codes/blob/master/Avocado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%tensorflow_version 1.x

In [0]:
import pandas as pd

url = 'drive/My Drive/datasets/avocado.csv'
avocado_prices = pd.read_csv(url)

In [4]:
import numpy as np
np.shape(avocado_prices)

(18249, 14)

In [0]:
avocado = np.array(avocado_prices)

In [9]:
avocado_prices.describe()

         Unnamed: 0  AveragePrice  ...    XLarge Bags          year
count  18249.000000  18249.000000  ...   18249.000000  18249.000000
mean      24.232232      1.405978  ...    3106.426507   2016.147899
std       15.481045      0.402677  ...   17692.894652      0.939938
min        0.000000      0.440000  ...       0.000000   2015.000000
25%       10.000000      1.100000  ...       0.000000   2015.000000
50%       24.000000      1.370000  ...       0.000000   2016.000000
75%       38.000000      1.660000  ...     132.500000   2017.000000
max       52.000000      3.250000  ...  551693.650000   2018.000000

[8 rows x 11 columns]

In [0]:
average_price = avocado[:,2:3]
avocado_numdata = avocado[:,3:11]
avocado_region = avocado[:,13:14]
avocado_year = avocado[:,12:13]
avocado_type = avocado[:,11:12]

In [0]:
from keras import models
from keras import layers
from sklearn.model_selection import train_test_split
from sklearn import utils
from sklearn.preprocessing import MinMaxScaler
from sklearn.externals import joblib

X_train,X_test,y_train,y_test = train_test_split(avocado_numdata,average_price,test_size=0.2)

network = models.Sequential()
network.add(layers.)
network.add(layers.Dense(32,activation='relu'))
network.add(layers.Dense(1))

network.compile(optimizer='rmsprop',
                loss='mean_squared_error',)               

network.fit(X_train,y_train,epochs=120,batch_size=128)

In [0]:
y_pred = network.predict(X_test).flatten()

for i in range(20):
  print('real price:',y_test[i],'prediction:',y_pred[i])